<div class="exposition">
	<h2>Welcome to Trading Seas!  It's a computer game. </h2>

	<p>In trading seas, you play the part of {{view_model.captain.first_name}} {{view_model.captain.last_name}}, the plucky captain of a small sailing vessel.
	Rather than battle the elements and the pirates on the raging seas, you battle supply and demand as you try to make a profit and expand your finances.</p>

	<p>You will trade with the native people of {{view_model.market_data.city_name}} who are industrious and shrewd.  They are computer operated agents that make
	goods to sell and buy the goods that you bring to sell them.  Not only do they buy and sell with you, but also amongst themselves.  They determine the prices
	based on the forces of supply and demand that they are experiencing within their own isolated economy.</p>
	
	<p>In addition to the faceless computer citizens of this world, you will also be trading with real people who also happen to be playing this game.  
	In a style that is called Asynchronous Multiplayer, you are all playing within the same world.  You can't interact with each other directly, but the actions
	of others will have an effect on your gameplay.</p>
	
	<p>This is very much a work in progress.  This is the very first prototype.  There's a lot of work that needs to be done in expanding features and making 
	the game easier to understand.  One of the features I hope to introduce soon is the ability to travel between cities.  (There currently are 4)</p>
	
	<p>Please email comments to bluewales73@gmail.com</p>
</div>