<section class="session_box" id="login_box">
	<h2>Login</h2>
	<form>
		<p class="input_label">Username: <input type="text" data-ng-model="view_model.login_username"></p>
		<p class="input_label" >Password: <input type="password" data-ng-model="view_model.login_password"></p>
		<p>{{view_model.login_error}}</p>
		<button  data-ng-click="view_model.login(view_model.login_username, view_model.login_password)">Login</button>
	</form>
</section>
<section class="session_box"  id="create_account_box" >
	<h2>Create an Account</h2>
	<form>
		<p class="input_label">Username: <input type="text" data-ng-model="view_model.creatuser_username"></p>
		<p class="input_label">Password: <input type="password" data-ng-model="view_model.creatuser_password1"></p>
		<p class="input_label" ng-click="">Repeat Password: <input type="password" data-ng-model="view_model.creatuser_password2"></p>
		<p>{{view_model.createuser_error}}</p>
		<button data-ng-disabled="view_model.passwordsMissmatch(view_model.creatuser_password1, view_model.creatuser_password2)" 
		data-ng-click="view_model.createuser(view_model.creatuser_username, view_model.creatuser_password1, view_model.creatuser_password2)">Create Account</button>
	</form>
</section>